body {
  overflow-x: hidden;
}
body p {
  font-family: "GmarketSansLight";
  font-size: 16px;
}

.mobile {
  display: none !important;
}

nav {
  position: fixed;
  text-align: center;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  padding: 30px 50px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0);
}
nav .logo {
  width: 162px;
  height: 24px;
  background: url(../img/logo.svg) 50% 50% no-repeat;
  background-size: contain !important;
  transition: 0.3s;
}
nav .logo a {
  width: 162px;
  height: 24px;
  display: block;
}
nav .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav .right > div {
  margin-right: 60px;
  text-align: center;
  font-family: "GmarketSansMedium";
  font-size: 16px;
  color: #fff;
  transition: 0.3s;
}
nav .right .navTo {
  cursor: pointer;
}
nav .right .navTo:nth-last-child(1) {
  margin-right: 0;
}
nav .right button {
  width: 30px;
  height: 14px;
  position: relative;
}
nav .right button div {
  width: 30px;
  height: 2px;
  background: white;
  position: absolute;
  transition: 0.3s;
}
nav .right button div:nth-child(1) {
  top: 0;
}
nav .right button div:nth-child(2) {
  top: 6px;
}
nav .right button div:nth-child(3) {
  top: 12px;
}
nav .right button.on {
  align-items: center;
}
nav .right button.on div {
  background: #000 !important;
}
nav .right button.on div:nth-child(1) {
  transform: rotate(135deg);
  top: 6px;
}
nav .right button.on div:nth-child(2) {
  opacity: 0;
}
nav .right button.on div:nth-child(3) {
  transform: rotate(45deg);
  top: 6px;
}
nav.on {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #005EB8;
}
nav.on .logo {
  background: url(../img/logo_blue.svg) 50% 50% no-repeat;
}
nav.on .right div {
  color: #005EB8;
}
nav.on .right button div {
  background: #005EB8;
}

.layGrid {
  margin: 0 auto !important;
  width: 1200px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#section1 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#section1 .scroll {
  text-align: center;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 1.5s cubic-bezier(1, -0.18, 0.25, 1);
}
#section1 .scroll p {
  padding-top: 60px;
}
#section1 .scroll p span {
  position: absolute;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section1 .scroll p span::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
#section1 video {
  width: 100%;
}
#section1 .soundBtn {
  width: 35px;
  height: 60px;
  position: absolute;
  right: 50px;
  bottom: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#section1 .soundBtn div {
  background: #fff;
  -webkit-animation: music 0.5s infinite alternate paused;
          animation: music 0.5s infinite alternate paused;
}
#section1 .soundBtn div:nth-child(1) {
  width: 2px;
  height: 12px;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}
#section1 .soundBtn div:nth-child(2) {
  width: 2px;
  height: 5px;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
#section1 .soundBtn div:nth-child(3) {
  width: 2px;
  height: 8px;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}
#section1 .soundBtn div:nth-child(4) {
  width: 2px;
  height: 12px;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}
#section1 .soundBtn div:nth-child(5) {
  width: 2px;
  height: 5px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#section1 .soundBtn div:nth-child(6) {
  width: 2px;
  height: 15px;
}
#section1 .soundBtn.on div {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

#section2 .pocari > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
#section2 .pocari > div h2 {
  color: black;
  font-family: "GmarketSansLight";
  font-size: 30px;
  font-weight: normal;
}
#section2 .pocari > div h2 span {
  color: #005EB8;
  font-family: "GmarketSansMedium";
}
#section2 .pocari > div h1 {
  color: black;
  font-family: "GmarketSansLight";
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 40px;
}
#section2 .pocari > div h1 span {
  color: #005EB8;
  font-family: "GmarketSansMedium";
}
#section2 .pocari > div p {
  color: #000;
}
#section2 .ion {
  background-color: #009DD6;
  height: 78vh;
  overflow: hidden;
}
#section2 .ion > div {
  text-align: right;
  height: 100%;
}
#section2 .ion > div h2 {
  color: white;
  font-family: "GmarketSansLight";
  font-size: 30px;
  font-weight: normal;
}
#section2 .ion > div h1 {
  color: #005EB8;
  font-family: "GmarketSansMedium";
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 40px;
}
#section2 .ion > div p {
  color: white;
}
#section2 .ion > div > div:nth-child(1) {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  transition: 0.7s 0.3s;
}
#section2 .ion > div > div:nth-child(2) {
  opacity: 0;
  visibility: hidden;
  transform: translateX(50%);
  transition: 0.7s;
}
#section2 .ion canvas {
  position: absolute;
  left: 0;
  top: 0;
}
#section2 .ion.on > div > div {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}

#section3 {
  text-align: center;
  margin: 180px 0 230px;
}
#section3 p {
  font-family: "GmarketSansMedium";
  color: #009dd6;
  font-size: 16px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}
#section3 h1 {
  font-family: "GmarketSansLight";
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 40px;
  line-height: 1.3;
}
#section3 h1 span {
  color: #005EB8;
}
#section3 .layGrid {
  justify-content: center;
}

#section4 {
  width: 100vw;
  height: 450px;
  background: url(../img/slideBg1.png);
  position: relative;
  margin-bottom: 230px;
}
#section4 .layGrid {
  height: 100%;
}
#section4 .slideText {
  height: 100%;
  display: flex;
  align-items: center;
}
#section4 .slideText .text {
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  position: absolute;
  top: 25%;
}
#section4 .slideText .text .line {
  width: 0;
  height: 1px;
  background: #fff;
  transition: all 1.5s cubic-bezier(1, -0.18, 0.25, 1);
}
#section4 .slideText .text div {
  overflow: hidden;
}
#section4 .slideText .text div p {
  opacity: 0;
  visibility: hidden;
  transform: translateY(150%);
  transition: all 1.5s cubic-bezier(1, -0.18, 0.25, 1) 1s;
}
#section4 .slideText .text div .p1 {
  font-size: 18px;
  font-family: "GmarketSansMedium";
  color: #fff;
  margin-bottom: 15px;
}
#section4 .slideText .text div .p2 {
  font-size: 22px;
  font-family: "GmarketSansMedium";
  color: #fff;
  margin-bottom: 20px;
}
#section4 .slideText .text div .p3 {
  font-size: 24px;
  font-family: "GmarketSansBold";
  color: #fff;
  margin-bottom: 15px;
  margin-top: 20px;
}
#section4 .slideText .text div .p4 {
  font-size: 18px;
  font-family: "GmarketSansLight";
  color: #fff;
}
#section4 .slideText .text.on {
  visibility: visible;
  opacity: 1;
}
#section4 .slideText .text.on .line {
  width: 400px;
}
#section4 .slideText .text.on div p {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
#section4 .slideImg {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
#section4 .slideImg .now {
  width: 550px;
  height: 550px;
  margin-right: 45px;
  transition: background-image 1s;
}
#section4 .slideImg .next {
  width: 400px;
  height: 400px;
  transition: background-image 1s;
}
#section4 .slideImg [data-index="0"] {
  background: url(../img/slImg1.png) 50% 50%/cover no-repeat;
}
#section4 .slideImg [data-index="1"] {
  background: url(../img/slImg2.png) 50% 50%/cover no-repeat;
}
#section4 .slideImg [data-index="2"] {
  background: url(../img/slImg3.png) 50% 50%/cover no-repeat;
}
#section4 .slideImg [data-index="3"] {
  background: url(../img/slImg4.png) 50% 50%/cover no-repeat;
}
#section4 .slideNav {
  position: absolute;
  top: 65%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
#section4 .slideNav .pager {
  display: flex;
}
#section4 .slideNav .pager li {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #005EB8;
  margin-right: 16px;
}
#section4 .slideNav .pager li.on {
  background: #fff;
}
#section4 .slideNav .slideBtn {
  display: flex;
}
#section4 .slideNav .slideBtn button {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0);
  transition: 0.5s;
  border-radius: 50%;
}
#section4 .slideNav .slideBtn button:nth-child(1) {
  background: url(../img/prev.png) 50% 50% no-repeat rgba(255, 255, 255, 0);
}
#section4 .slideNav .slideBtn button:nth-child(1):hover {
  background: url(../img/prev.png) 50% 50% no-repeat #005EB8;
}
#section4 .slideNav .slideBtn button:nth-child(2) {
  background: url(../img/start.png) 50% 50% no-repeat rgba(255, 255, 255, 0);
}
#section4 .slideNav .slideBtn button:nth-child(2):hover {
  background: url(../img/start.png) 50% 50% no-repeat #005EB8;
}
#section4 .slideNav .slideBtn button:nth-child(2).on {
  background: url(../img/stop.png) 50% 50% no-repeat rgba(255, 255, 255, 0);
}
#section4 .slideNav .slideBtn button:nth-child(2).on:hover {
  background: url(../img/stop.png) 50% 50% no-repeat #005EB8;
}
#section4 .slideNav .slideBtn button:nth-child(3) {
  background: url(../img/next.png) 50% 50% no-repeat rgba(255, 255, 255, 0);
}
#section4 .slideNav .slideBtn button:nth-child(3):hover {
  background: url(../img/next.png) 50% 50% no-repeat #005EB8;
}
#section4.mo {
  display: none;
}

#section5 {
  text-align: center;
  padding-bottom: 200px;
}
#section5 h1 {
  font-family: "GmarketSansMedium";
  font-weight: normal;
  margin-bottom: 40px;
}
#section5 h1 span {
  color: #005EB8;
  font-family: "GmarketSansBold";
  position: relative;
}
#section5 h1 span::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  display: block;
  border-radius: 50%;
  background: #009dd6;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
#section5 .layGrid > div {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: left;
  width: 30%;
  height: 400px;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50%);
}
#section5 .layGrid > div .valueTxt {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}
#section5 .layGrid > div .valueTxt h2 {
  font-weight: normal;
  font-family: "GmarketSansMedium";
  color: white;
  font-size: 15px;
  margin-bottom: 10px;
}
#section5 .layGrid > div .valueTxt .title {
  text-align: left;
  font-size: 20px;
  font-family: "GmarketSansMedium";
  margin-bottom: 30px;
  color: white;
}
#section5 .layGrid > div p {
  color: white;
}
#section5 .layGrid > div:nth-child(1) {
  background: url(../img/value1.png) 50% 50% no-repeat;
  transition: 0.7s;
}
#section5 .layGrid > div:nth-child(2) {
  background: url(../img/value2.png) 50% 50% no-repeat;
  transition: 0.7s 0.2s;
}
#section5 .layGrid > div:nth-child(3) {
  background: url(../img/value3.png) 50% 50% no-repeat;
  transition: 0.7s 0.4s;
}
#section5 .layGrid > div:hover .valueTxt {
  opacity: 1;
  visibility: visible;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s linear;
}
#section5.on .layGrid > div {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes music {
  to {
    height: 12px;
  }
}
@keyframes music {
  to {
    height: 12px;
  }
}
@media screen and (max-width: 1400px) {
  .layGrid {
    flex-direction: column;
    width: 100% !important;
    justify-content: center !important;
  }
  nav .right > div {
    display: none;
  }
  #section1 {
    height: auto;
  }
  #section2 img {
    max-width: 80%;
  }
  #section2 .layGrid {
    flex-direction: column-reverse;
  }
  #section2 .layGrid:nth-last-child(1) {
    flex-direction: column !important;
  }
  #section2 .inner-header {
    padding-bottom: 80px;
    height: auto;
  }
  #section2 .inner-header > div:nth-child(2) {
    margin-bottom: 40px;
  }
  #section2 .ion {
    height: auto;
  }
  #section2 .ion .layGrid > div {
    margin-top: 60px;
  }
  #section2 .ion .layGrid > div:nth-child(2) {
    margin-bottom: 120px;
    text-align: left;
  }
  #section3 .layGrid {
    flex-direction: row !important;
  }
  #section4 {
    background: none;
    position: relative;
    height: auto;
  }
  #section4 img {
    width: 100%;
  }
  #section4 .mo_text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
  }
  #section4 .mo_text p {
    color: #000;
    margin-bottom: 5px;
  }
  #section4 .mo_text .p1,
#section4 .mo_text .p2 {
    font-family: "GmarketSansMedium";
  }
  #section4 .mo_text .p3 {
    font-family: "GmarketSansBold";
    font-size: 16px;
    color: #005EB8;
  }
  #section4.mo {
    display: block;
  }
  #section4.pc {
    display: none;
  }
  #section5 .layGrid {
    flex-direction: row !important;
  }
}
@media screen and (max-width: 450px) {
  body p {
    font-size: 14px;
  }
  body .pc {
    display: none !important;
  }
  body .mobile {
    display: block !important;
  }
  body .tablet {
    display: none !important;
  }
  nav {
    padding: 15px;
  }
  nav .logo {
    width: 100px;
  }
  #section1 {
    position: relative;
  }
  #section1 .soundBtn {
    right: 15px;
    bottom: 15px;
  }
  #section1 .scroll {
    display: none;
  }
  #section2 img {
    max-width: 40%;
    margin: 0 auto;
    display: block;
  }
  #section2 br {
    display: none !important;
  }
  #section2 h2 {
    font-size: 18px !important;
    padding: 0 15px !important;
    text-align: center !important;
  }
  #section2 h1 {
    font-size: 20px !important;
    padding: 0 15px !important;
    text-align: center !important;
  }
  #section2 p {
    padding: 0 15px !important;
    text-align: center !important;
  }
  #section2 .pocari .inner-header div {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateX(0);
  }
  #section2 .ion .layGrid > div {
    text-align: center;
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateX(0) !important;
  }
  #section2 .ion .layGrid > div:nth-child(2) {
    margin-bottom: 60px;
  }
  #section3 {
    margin: 80px 0;
  }
  #section3 h1 {
    font-size: 20px;
  }
  #section3 .layGrid {
    flex-direction: column !important;
  }
  #section3 .layGrid .progress {
    margin-right: 0;
    margin-bottom: 40px;
  }
  #section3 .layGrid .progress > div {
    -webkit-animation-play-state: running !important;
            animation-play-state: running !important;
  }
  #section4 {
    margin: 80px 0;
  }
  #section4 .mo_text {
    width: 90%;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 20px 5%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
  }
  #section5 {
    padding-bottom: 80px;
  }
  #section5 h1 {
    font-size: 20px;
  }
  #section5 .layGrid {
    flex-direction: column !important;
    padding: 0 20px;
    box-sizing: border-box;
  }
  #section5 .layGrid > div {
    width: 100%;
    margin-bottom: 40px;
    background-size: cover !important;
  }
}
.mySwiper {
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */